$primary: #2e00ad;
* {
  align-items: center;
  text-align: center;
}
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f1f1f1;
}
.card {
  width: 220px;
  margin: 5px;
  background-color: whitesmoke;
  color: $primary;
  img {
    height: 200px;
  }
  input {
    width: 50px;
  }
  &:hover {
    border: 1px solid;
  }
}
mat-card-subtitle {
  color: $primary;
}
.list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.btn {
  overflow-x: auto;
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav {
  padding: 20px;
  width: 30%;
}
.main {
  background-color: whitesmoke;
  overflow-x: auto;
  height: 73vh;
}
