<div class="header">

  <p>
    <mat-toolbar style="background-color: #5c2be2;">
     <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon routerLink="/home">home</mat-icon>
    </button>
    <span class="title">Michal SuperMarket</span>
    <span class="example-spacer"></span>
    <p>Hey {{_data.username}}</p>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon *ngIf="!_data.islogin">input</mat-icon>
      <mat-icon (click)="Logout()" *ngIf="_data.islogin">launch</mat-icon>
   </button>
  </mat-toolbar>
  </p>
</div>

